/* ENDAST PRIDE & TRANSFÄRGER */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff8c00,
        #ffff00,
        #00ff00,
        #00bfff,
        #8a2be2,
        #5BCEFA,
        #F5A9B8,
        #FFFFFF,
        #F5A9B8,
        #5BCEFA
    );
    background-size: 800% 800%;
    animation: rainbowMove 15s infinite alternate;
}

@keyframes rainbowMove {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

header {
    padding: 60px 20px;
    background: linear-gradient(
        90deg,
        #5BCEFA,
        #F5A9B8,
        #FFFFFF,
        #F5A9B8,
        #5BCEFA
    );
}

h1 {
    font-size: 4em;
    background: linear-gradient(
        90deg,
        #ff0000,
        #ff8c00,
        #ffff00,
        #00ff00,
        #00bfff,
        #8a2be2
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 2em;
    color: #5BCEFA;
}

section {
    padding: 60px 20px;
    background: linear-gradient(
        90deg,
        #ff0000,
        #ff8c00,
        #ffff00,
        #00ff00,
        #00bfff,
        #8a2be2
    );
}

p {
    font-size: 1.4em;
    color: #FFFFFF;
}

.hero-img img {
    width: 350px;
    max-width: 90%;
    border-radius: 40px;
    border: 8px solid #F5A9B8;
    box-shadow: 0 0 50px #5BCEFA;
    margin-top: 30px;
}

.energy {
    background: linear-gradient(
        90deg,
        #5BCEFA,
        #F5A9B8,
        #FFFFFF,
        #F5A9B8,
        #5BCEFA
    );
}

button {
    padding: 20px 50px;
    font-size: 1.3em;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background: linear-gradient(
        90deg,
        #ff0000,
        #ff8c00,
        #ffff00,
        #00ff00,
        #00bfff,
        #8a2be2
    );
    color: #FFFFFF;
}

button:hover {
    transform: scale(1.2);
}

footer {
    padding: 40px;
    font-size: 1.5em;
    background: linear-gradient(
        90deg,
        #5BCEFA,
        #F5A9B8,
        #FFFFFF,
        #F5A9B8,
        #5BCEFA
    );
}
